.row .footerend{
  background-color: #4441B0;
  color: white;
  padding: 50px;
}
.row p{
  padding: 10px;
}
.btn
{
      width: 20%;
      padding: 5px;
}

.navbar-light .navbar-nav .nav-link  {
  color: #4441B0 !important;
}

.footer {
  margin-top: 5%;
}

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Abhaya Libre', serif;
}
.cont-wrapper {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.cont{
  margin-top: 34px;
  margin-left: 25%;
}

.left-cont{
  display: grid;
  align-items: center;
  width: 500px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin: 20px 30px 0 0px;
}

.img-1 {
  width: 60px;
  height: 60px;
  border: 7px solid #4441B0;
  border-radius: 60px;
  object-fit: cover;
  margin-left: 40px;
}

.img-2, .img-4, .img-5, .img-6{
  height: 100px;
  width: 100px;
  border: 6px solid #4441B0;
  border-radius: 100px;
  object-fit: cover;
} 

.img-3 {
  grid-area: 1 / 2 / 3/ 3;
  height: 220px;
  width: 220px;
  border: 8px solid #4441B0;
  border-radius: 220px;
  object-fit: cover;
  margin-top: 30px;
  /* margin-left: 30px; */
}

.img-wrapper {
  position: absolute; 
  left:70.8%;  
}

.img-cont {
  height: 589px;
  width: 394px;
  object-fit: cover;
  margin-left: 2px;
  border: 20px solid #4441B0;
  border-radius: 490px 0 0 490px;

}

.btn-2 {
  background-color: #4441B0 !important;
  color: #ffffff !important;
  margin-left: 42% !important;
  margin-top: 5px !important;
  border-radius: 20px !important;
  width: 26% !important;
}

.art {
  font-size: 20px;
}

.search {
  font-size: 18px;
}
.media {
  margin-left: 24%;
}

.dot-line{
  color: #4441B0;
  font-size: 24px;
}

.soul {
  color: #262323;
}

.p-tag {
  margin-left: 47%;
}


@media only screen and (min-width: 1400px) {
  .cont{
    margin-top: 12%;
    margin-left: 28%;
  }
  .left-cont{
    margin: 20px 200px 0 0px;
    width: 680px;
  }
  .img-1 {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    object-fit: cover;
    margin-left: 40px;
  }
  
  .img-2, .img-4, .img-5, .img-6{
    height: 150px;
    width: 150px;
    border-radius: 150px;
  } 
  
  .img-3 {
    height: 280px;
    width: 280px;
    border-radius: 280px;
    margin-top: 50px;
    margin-left: 5px;
  }
  
  .img-cont {
    height: 942px;
    width: 555px;
    border-radius: 748px 0 0 748px;
  }
  
  .btn-2 {
    margin-left: 31% !important;
    margin-top: 15px !important;
    width: 26% !important;
  }
  
  .media {
    margin-left: 19%;
  }

  .soul {
    margin-top: 5%;
  }
  .dot-line{
    font-size: 30px;
  }
  .disc{
    font-size: 30px;
  }

  .p-tag {
    margin-left: 43%;
  }
}

/* form styles */
form{
    padding: 50px;
}
form .btn{
        width: 30%;
        padding: 5px;
}
