/* @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Roboto:wght@300;400;500;700;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Roboto:wght@300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Abhaya Libre', serif;
}

.cont-wrapper {
  display: grid;
  grid-template-columns: 1fr 200px;
}

.cont{
  margin-top: 8%;
  margin-left: 25%;
}

.left-cont{
  display: grid;
  width: 400px;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin: 20px 40px 0 40px;
}

.img-1 {
  width: 60px;
  height: 60px;
  border: 7px solid #4441B0;
  border-radius: 60px;
  object-fit: cover;
  margin-left: 40px;
}

.img-2, .img-4, .img-5, .img-6{
  height: 100px;
  width: 100px;
  border: 6px solid #4441B0;
  border-radius: 100px;
  object-fit: cover;
} 

.img-3 {
  grid-area: 1 / 2 / 3/ 3;
  height: 220px;
  width: 220px;
  border: 8px solid #4441B0;
  border-radius: 220px;
  object-fit: cover;
  margin-top: 30px;
}

.img-wrapper {
  position: absolute;
  left:71%;  
}

.img-cont {
  height: 660px;
  width: 390px;
  object-fit: cover;
  margin-left: 2px;
  border: 20px solid #4441B0;
  border-radius: 525px 0 0 525px;
}

.btn-1 {
  background-color: #4441B0;
  color: #ffffff;
  margin-left: 28%;
  margin-top: 5px;
  border-radius: 20px;
  width: 26%;
}

.art {
  font-size: 20px;
}

.search {
  font-size: 18px;
}
.media {
  margin-left: 19%;
}

.dot-line{
  color: #4441B0;
  font-size: 24px;
}

.soul {
  color: #262323;
}

.p-tag {
  margin-left: 35%;
}

@media only screen and (min-width: 1400px) {
  .cont{
    margin-top: 14%;
    margin-left: 28%;
  }
  
  .img-1 {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    object-fit: cover;
    margin-left: 40px;
  }
  
  .img-2, .img-4, .img-5, .img-6{
    height: 150px;
    width: 150px;
    border-radius: 150px;
  } 
  
  .img-3 {
    height: 280px;
    width: 280px;
    border: 8px solid #4441B0;
    border-radius: 280px;
    margin-top: 50px;
  }
  
  .img-cont {
    height: 1008px;
    width: 555px;
    border-radius: 525px 0 0 525px;
  }
  
  .btn-1 {
    margin-left: 20%;
    margin-top: 15px;
    width: 26%;
  }
  
  .media {
    margin-left: 16%;
  }

  .soul {
    margin-top: 5%;
  }
  .dot-line{
    font-size: 30px;
  }
  .disc{
    font-size: 30px;
  }
}